.gmz{
    width: 150px;
  }
  .ipet{
    width: 150px;
  }
  .informacion {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    border-radius: 45px;
    width: 80%;
    padding: 10px;;
    border: 5px solid #241750;
    background-color: rgb(254, 254, 254);
  }
