<div class="informacion" >
    <h3>Hard & Soft skils</h3>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress
          [percent]="85"
          [radius]="70"
          [titleColor]="'black'"
          [titleFontSize]="'2em'"
          [subtitle]="'HTML'"
          [subtitleFontSize]="'2em'"
          [subtitleColor]="'black'"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="10"
          [outerStrokeColor]="'#4902ed'"
          [outerStrokeGradientStopColor]="'#0573e1'"
          [innerStrokeColor]="'#e7e8ea'"
          [animation]="true"
          [animationDuration]="800">
        </circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress
           [percent]="55"
           [radius]="70"
           [titleColor]="'black'"
           [titleFontSize]="'2em'"
           [subtitle]="'CSS'"
           [subtitleFontSize]="'2em'"
           [subtitleColor]="'black'"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="10"
           [outerStrokeColor]="'#4902ed'"
           [outerStrokeGradientStopColor]="'#0573e1'"
           [innerStrokeColor]="'#e7e8ea'"
           [animation]="true"
           [animationDuration]="300">
        </circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress
        [percent]="45"
        [radius]="70"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [subtitle]="'JS'"
        [subtitleFontSize]="'2em'"
        [subtitleColor]="'black'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#4902ed'"
        [outerStrokeGradientStopColor]="'#0573e1'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="300">
      </circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [subtitle]="'GITHUB'"
        [subtitleFontSize]="'2em'"
        [subtitleColor]="'black'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#4902ed'"
        [outerStrokeGradientStopColor]="'#0573e1'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="300">
      </circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [subtitle]="'INGLES'"
        [subtitleFontSize]="'2em'"
        [subtitleColor]="'black'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#4902ed'"
        [outerStrokeGradientStopColor]="'#0573e1'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="300">
      </circle-progress>
      </div>
      <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress
           [percent]="100"
           [radius]="70"
           [titleColor]="'black'"
           [titleFontSize]="'2em'"
           [subtitle]="'Trabajo grupal'"
           [subtitleFontSize]="'1em'"
           [subtitleColor]="'black'"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="10"
           [outerStrokeColor]="'#4902ed'"
           [outerStrokeGradientStopColor]="'#0573e1'"
           [innerStrokeColor]="'#e7e8ea'"
           [animation]="true"
           [animationDuration]="300">
        </circle-progress>
      </div>
    </div>
   </div>