<div class="informacion" >
    <h3>Educacion</h3>
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col-2">
          <img class="ipet"src="../../assets/ipet.png" alt="logo ipet">
          <img class="gmz"src="../../assets/16508673_1361067083951331_5280274066814916674_n.png" alt="gmz">
        </div>
        <div class="col-10"id="educacion">
          <h4>Educacion secundaria/Maesto mayor de obras</h4>
          <p>Egresado del Instituto provincial de educacion tecnica N° 263</p>
          <p>Localidad: "Las varillas;Provincia de Cordoba"</p>
          <p>(2013 - 2020)</p>
          <br>
          <h4>Profesorado de nivel secundario en Historia</h4>
          <p>Cursando en el Instituto "Gustavo Martinez Zuviria"</p>
          <p>Localidad: "Las varillas;Provincia de Cordoba"</p>
          <p>(2021- Actualmente)</p>
        </div>
      </div>
    </div> 
 </div>