<nav class="navbar" style="background-color:#0244a7;">
    <div class="container-fluid">
        <section>
       <a class="navbar-brand" href="index.html">
         <img src="../../assets/APLogo-20-20.png "alt="AP logo"width="15%">
       </a>
    </section>
      <ul>
        <button type="button" class="btn btn-link"><a href="https://github.com/santiagoUrquia" target="_blank"><i class="fa-brands fa-github"style="color:white;"></i></a></button>
        <button type="button" class="btn btn-link"><a href="https://www.instagram.com/santiurquia/" target="_blank"><i class="fa-brands fa-instagram"style="color:white ;"></i></a></button>
        <button type="button" class="btn btn-link"> <a href="https://www.facebook.com/santiago.urquia.9/" target="_blank"><i class="fa-brands fa-facebook" style="color:white ;"></i></a></button>
      <!-- Button trigger modal -->
        <button type="button" class="btn" ><a href="Login.html"><i class="fa-solid fa-user-lock"style="color:white;"></i></a></button>
      </ul> 
    </div>
 </nav>