<div class="informacion text-center"><h3>Trabajos</h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <i class="fa-brands fa-github card-img-top presentacion"></i>
          <div class="card-body">
            <h5 class="card-title">Portafolio(Back end)</h5>
            <a href="https://github.com/santiagoUrquia/Portafolio-web-Back-.git" class="btn btn-dark">Haz click</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <i class="fa-brands fa-github card-img-top presentacion"></i>
          <div class="card-body">
            <h5 class="card-title">Portafolio(Front page) </h5>
            <a href="https://github.com/santiagoUrquia/Porrtafolio-web-front-.git" class="btn btn-dark">Haz click</a>
          </div>
          </div>
      </div>
    </div>
   </div>
